[tool.poetry]
name = "viser"
version = "0.0.7"
description = "3D visualization helper"
authors = ["brentyi <brentyi@berkeley.edu>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
websockets = ">=10.4"
numpy = ">=1.0.0"
msgpack = ">=1.0.0"
imageio = ">=2.0.0"
pyliblzfse = ">=0.4.1"
scikit-image = ">=0.18.0"
tqdm = ">=4.0.0"
tyro = ">=0.2.0"
gdown = ">=4.6.6"
rich = ">=13.3.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.7"
ignore_missing_imports = true
warn_unused_configs = true

[tool.pyright]
exclude = ["./docs/**/*"]
