name: formatting

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Run Ruff
        run: uvx ruff check docs/ src/ examples/ --output-format github
      - name: Run Ruff format
        run: uvx ruff format docs/ src/ examples/ --check
